# Import package dependencies
importFrom(data.table, rbindlist)

importFrom(graphics, plot)

importFrom(utils, txtProgressBar)
importFrom(utils, setTxtProgressBar)



# Export functions for users
export(fractus)
export(.dice.tern)
export(.dice.four)
export(.dice.five)
export(.chaos.df)