# Import package dependencies
importFrom(data.table, rbindlist)

importFrom(graphics, par)
importFrom(graphics, plot)

importFrom(utils, txtProgressBar)
importFrom(utils, setTxtProgressBar)


# Export functions for users
export(fractus)
